:root {
    --branding-color: #E3BDA8;
    --secondary-color: #A45A45; 
    --font-family: 'Masconia', sans-serif;
    --secondary-font-family: 'Avenir Next';
    --bs-border-color: #A45A45;
}

@media (max-width: 900px) {
    .navbar-brand {
        font-size: 3rem;
        margin-left: 40px;
    }
    .navbar-toggler {
        margin-right: 40px;
    }
    #hero {
        margin-top: 150px;
        text-align: center;
    }
    .container {
        margin-top: 75px;
        overflow: hidden;
        word-wrap: break-word;
        text-align: center;
    }
    body {
        margin: 0px 30px 0px 30px;
    }
    h1 {
        font-size: 75px;
    }
    h2 {
        font-size: 35px;
    }
    h3 {
        font-size: 25px;
    }
    /* .btn-branding {
        align-items: center;
    } */
    svg {
        display: none;
    }
    img {
        display: none;
    }
    #self-image {
        padding-top: 30px;
        height: 330px;
        width: 200px;
        border-top-left-radius: 300px;
        border-top-right-radius: 300px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    #park-app {
        margin-top: 50px;
    }
    #project-images {
        height: 200px;
        width: 400px;
        border-radius: 1rem;
    }
    ul {
        margin-bottom: 0px;
        display: block;
    }
}

@media (min-width: 900px) {
    .navbar-brand {
        font-size: 3rem;
        margin-left:40px;
    }
    .navbar-toggler {
        margin-right: 40px;
    }
    .nav-link {
        font-size: 1.25rem;
        margin: 20px;
    }
    .navbar-nav {
        margin-right: 30px;
    }
    .hero {
        margin: 0px 75px 0px 75px;
        text-align: left;
    }
    h1 {
        font-size: 120px;
    }
    h2 {
        font-size: 75px;
    }
    ul{
        margin-bottom: 0;
        display: flex;
    }
    li {
        margin-right: 30px;
    }
    svg {
        width: 97px;
        height: 105px;
    }
    .container {
        margin-top: 125px;
    }
    #self-image {
        height: 500px;
        width: 335px;
    }
    #certifications-container {
        padding-top: 30px;
    }
    #certifications {
        height: 100px;
        width: 150px;
    }
    #project-rows,
    #about-row {
        margin: 150px 75px 0px 75px;
    }
    #project-images {
        height: 275px;
        width: 475px;
        border-radius: 1rem;
    }
    #socials {
        display: inline;
        font-size: 25px;
        margin: 5px;
    }
}

body {
    background-color: var(--branding-color);
}

nav {
    background-color: var(--branding-color);
    opacity: .9;
    
}

.navbar {
    --bs-navbar-toggler-padding-y: 0;
    --bs-navbar-toggler-padding-x: 0;
    --bs-navbar-toggler-font-size: 1.5rem;
    --bs-navbar-toggler-border-color: none;
    --bs-navbar-toggler-border-radius: 0;
    --bs-navbar-toggler-focus-width: 0;
}

.navbar-nav:hover {
    color: var(--bs-border-color) !important;
}

.navbar-brand {
    color: var(--secondary-color);
    font-family: var(--font-family);
}

.nav-link {
    color: var(--secondary-color);
}

.navbar-toggler {
    color: var(--secondary-color);
    border: none;
    outline: none!important;
    box-shadow: none;
}

.hero {
    background: var(--branding-color);
}

.hero h3,h4 {
    font-weight: bold;
}

#about,#projects,#contact {
    scroll-margin-top: 150px;
}

h1,h2,h3,h4,h5 {
    color: var(--secondary-color);
    font-family: var(--font-family);
}

p {
    font-size: 17px;
}

p,ul,ol,span,li,a {
    color: var(--secondary-color);
    font-family: var(--secondary-font-family);
}

ul,li,ol {
    display: inline;
    font-size: 45px;
}

ul {
    list-style: none;
    padding-left: 0;
}

.btn-branding {
    background: var(--secondary-color);
    color: var(--branding-color);
    border-radius: .5rem;
    padding: 12px 25px;
    font-size: 17px;
    margin: 20px 2px;
}

.btn-branding:hover {
    background-color: var(--branding-color);
    border: var(--bs-border-color);
    border-style: solid;
    color: var(--secondary-color);
    transition: box-shadow 0.3s ease-in-out;
}

.shadow-effects:hover {
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#contact {
    text-align: center;
}

